.container{
  width: 90vw;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
.nav-bar{
  font-family: 'Grand Hotel', cursive;
 
  } 
h1{
  line-height: 1%;
  margin: 30px, 0px, 20px, 0px;
  
}
@media screen and (max-width: 581px){
  h1{

    font-size: 55px;
  }
@media screen and (max-width: 543px){
  h1{
  
    font-size: 40px;
  }
}

}
.nav-wrapper{
  min-height: 100px;;
}





main {
    flex: 1 0 auto;
    font-family: 'Domine', serif;
  
  }

blockquote{
    border-left: 5px solid #000000;
    margin-top: 50px;
  
  
}

.slider .indicators .indicator-item.active{
  background: #F27405 ;
}
#userInput{
  margin-top: 10px;
}
#btnsGoHere{
  margin-top: 10px; 
  }


.ezPrompt{
  margin-top:30px;
  margin-left: 15px;
  padding-left:15px;
  display: inline-block;
}
.zipDiv{
  margin-top: 40px;
}

.btn-small{
   margin: 5px;
  }    
 
.gridRow{
  margin: 0;
  font-size: 2vw;
  letter-spacing: 2px;
  }

#lastFive{
  display:none;
}
#resTextLabel{
  margin-bottom: 20px;
}
.hours{
  font-size: 15px;
  line-height: 15px;
}
.mCat{
  margin: 10px 5px 5px 5px;
}
.mCat:hover{
  background-color:#F27405;
 
}
.topCont{
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin-top: 20px;
}
#spinToWin{
  
  /* border-radius: 25px; */
  /* background-image: linear-gradient(to right, #e0f2f1 20% , #80cbc4   100%, #b2dfdb  100%, #80cbc4   45%);  width: 15vw; */
  height: 2vw;
  text-align: center;
  padding: 10px 40px 60px 40px;
  font-size: 2vw;
  box-align:center;
  margin-left: 0%;
  margin-right: 0%;
  align-items: center;
  font-family: 'Grand Hotel', cursive;
  text-transform: lowercase;
  font-size: 30px;
}
#spinToWin:hover{
  
}
#mealCatLabel{
  font-size: larger;
  margin: 15px 0 0 0;
  font-weight: bold;

}

#zipText{
  color: #F27405 !important;
  text-decoration: underline;

}


#offsetButtonsCont{
  margin: 15px;
}
#nextFive{
  margin-top: 15px;
  text-transform: lowercase;
  padding: 0px 30px;
}


.gridCell{
  margin: 0;
  padding: 20px;
  text-transform: lowercase;
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 33%;
 
}

.center-align{
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}

.gridContainer{
  justify-content: space-evenly;
  align-items: stretch;
  height: auto;
}

.resResultsCont{
  display: none;
}
.gridHeader{
  text-align: left;
  padding: 5px;
}
.gridSection{
  display: none;
}
#addBtn{

  float: left;
}
div.input-field{
  padding-left: 20px;
}
#formDiv{
  margin-right: 50px;
}

.gridCell {
  text-align: center;
}

#topDiv{ 
  margin-top: 20px;
  margin-bottom: 20px;
  
}
p{
  letter-spacing: 1px;
  margin: 3px 0px 1px 20px;
}

#instructions{
  font-size:15px;
  letter-spacing: 1px;
  padding-top: 20px;

}


#location{
  font-size: 23px;
  margin-left: 10px;
  margin-top: 20px;
  text-decoration-line: underline;
  color: #F27405;
}
.page-footer{
margin-top: 20px;
};