body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .btn-small{
   margin: 1px;
  }    
 
.gridRow{
margin: 0;
font-size: 2vw;
/* display: inline-block; */
letter-spacing: 2px;
/* width:33%; */
/* height: 40% !important; */
/* align-content: baseline; */


}
.spinToWin{
 
}
.gridCell{
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  /* min-height: 100% important!; */
  /* line-height: 10px; */
  /* border-style: solid; */
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 33%;
  /* background-color:#b2dfdb; */
}
.center-align{
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
.gridContainer{
 justify-content: space-evenly;
 align-items: stretch;
 height: auto;
}
#addBtn{
  /* display: inline-block; */
  float: left;
}

.gridCell {
  text-align: center;
}