body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .btn-small{
   margin: 1px;
  }    
 
div.gridRow{
margin: 0;
font-size: 2vw;
display: inline-block;
letter-spacing: 2px;
width:33%;
height: 30%!;
align-content: baseline;
}

div.gridCell{
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  line-height: 20px;
  /* border-style: solid; */
  /* height: 100%; */

  /* background-color:#b2dfdb; */
}

.center-align{
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
}
.gridContainer{
 justify-content: space-evenly;
 align-items: stretch;
}
#addBtn{
  /* display: inline-block; */
  float: left;
}
div.input-field{
  padding-left: 20px;
}